name: Node.js v14 CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
    - name: Use Node.js v14
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'
    - run: npm ci
    - run: npm run lint
    - run: npm test
